<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About the To_Do(App)</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <center><big><h1>Welcome To the Web:</h1></big></center>
    <h2><u>Introduction:</u></h2>
    <br>
    <div>
        <p><big>"Do your Best!"</big>,It is the goal of this app, "Our app is designed to help you manage daily tasks with ease and total freedom. Built with a responsive architecture using HTML, CSS, and dynamic server-side scripting, it ensures a seamless experience across all devices. The intuitive interface allows you to log activities and descriptions instantly, automatically tracking creation times while giving you full control to update or delete tasks as your day evolves."</p>
    </div>
    <hr>
    <br>
    <center><h2><u>Services and functionality:</u></h2></center>
    <br>
    <div class="menu">
        <div class="Services"><p>Add the Task</p></div>
        <div  class="Services"><p>Write the name and description of the task</p></div>
        <div  class="Services"><p>Unlimited task and storage management.</p></div>
        <div  class="Services"><p>Delete and Update Task.</p></div>
        <div  class="Services"><p>See for Completed Task.</p></div>
        <div  class="Services"><p>Free and portable.</p></div>
    </div>
    <br>
    <center>
        <form>
            <div class="main_web_todo">
                <big><h3><a href="/">Back To To_Do:</a></h3></big>
            </div>
        </form>
        <h3 class="Tribute">Made with 💪 and ❤️ of Nepal.</h3>
    </center> 
</body>
</html>